.git
.gitignore

.venv/
venv/

.idea/
.vscode/

__pycache__/
*.pyc
*.pyo

env/
ENV/
.env
.env.*
!.env.example

certs/*
!certs/.gitkeep
*.pem

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

db.sqlite3
.DS_Store