# Django
DJANGO_SETTINGS_MODULE='config.settings.dev'
DJANGO_SECRET_KEY='super_secret_key'
DJANGO_ALLOWED_HOSTS='127.0.0.1,localhost'

# PostgreSQL
POSTGRES_DB='djangojwt'
POSTGRES_USER='djangojwt'
POSTGRES_PASSWORD='djangojwt'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432

# Redis
REDIS_USERNAME='djangojwt'
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD='djangojwt'
#Более гибкая альтернатива это REDIS_URL redis://[username]:[password]@[host]:[port]/[db]
REDIS_URL='redis://djangojwt:djangojwt@localhost:6379/0'

# JWT
JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH='certs/jwt_private.pem'
JWT_PUBLIC_KEY_PATH='certs/jwt_public.pem'
JWT_ISSUER='djangojwt'
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800
JWT_REFRESH_REUSE_GRACE_SECONDS=5