DJANGO_SETTINGS_MODULE='*****'
DJANGO_SECRET_KEY='*****'
DJANGO_ALLOWED_HOSTS='127.0.0.1,localhost'

POSTGRES_NAME='*****'
POSTGRES_USER='*****'
POSTGRES_PASSWORD='*****'
POSTGRES_HOST='*****'
POSTGRES_PORT=5432

REDIS_USERNAME='*****'
REDIS_HOST='*****'
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD='*****'
#Более гибкая альтернатива это REDIS_URL redis://[username]:[password]@[host]:[port]/[db]
#Пример: redis://my_user:super_pass@localhost:6379/0
REDIS_URL='*****'

JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH='*****'
JWT_PUBLIC_KEY_PATH='*****'
JWT_ISSUER='*****'
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800